
---
import { getEntryBySlug } from 'astro:content';
const { slug } = Astro.params;
const post = await getEntryBySlug('blog', slug);
---

<article class="prose mx-auto p-8">
  <h1>{post.data.title}</h1>
  <p class="text-gray-500">{post.data.date}</p>
  <Markdown>{post.body}</Markdown>
</article>
